*.png
CTD_template.pptx
*.gif
week1.csv
*.3dm
*.3dmbak
/assignment1/gifs
/assignment1/pics
/assignment1/venv
*.stl
*.3mf
assignment2/CTD-assignment2.pptx
assignment2/~$CTD-assignment2.pptx
venv/
stable-diffusion-webui/
python-3.10.6-amd64.exe

